@use '../base/variables.scss';

section {
  font-family: variables.$primary-font;
  font-weight: bold;

  .name {
    font-size: clamp(20px, 5vw, 46px);
    color: white;
    line-height: 1;
  }

  .role {
    font-size: clamp(20px, 4vw, 32px);
    color: $color-font-1;
    line-height: 0.7;
    margin-top: 15px;
  }

  .developer-img {
    max-width: 520px;
    margin: auto;
    width: 90%;
  }

  .presentation {
    max-width: 600px;
    margin-top: 40px;
  }

  .languages{
    display: flex;
    row-gap: 2rem;
    column-gap: 3rem;
    flex-wrap: wrap;

    img {
      margin: auto 0;
      width: 30px;
    }
  }

  .resume{
    margin-top: 1rem;
    .resume-button{
      border: 1px solid #00ff7c;
      padding: 0.75rem;
      color: white;
      border-radius: 10px;
      font-weight: normal;
      background-color: #00307942;
    }
  }

}

